---
layout: default
format: homepage
---

<div class="darkbg">
<div class="grid-container">
<h4 class="center">{{ site.subtitle }}</h4>
<h1 class="center siteheader subheadline">{{ site.title }}</h1>
</div>
</div>

<div class="grid-container">
<div class="grid-x  grid-padding x grid-padding-y align-middle">
<div class="cell medium-12">
<p>Ivory carvings are time capsules. They contain chemical signatures of an elephant's life--its DNA, diet, and movements. Some carvings sit in museums; others in our homes. By combining scientific analysis, oral histories, and archival research, our team is uncovering the entwined stories of humans, elephants, and the global ivory trade.</p>
</div>
<div class="cell medium-12 text-center">
<h2>What We Do</h2>
<h3>Our team wants to know about your ivory collection!</h3>
</div>
</div>
<div class="grid-x grid-padding-y grid-padding-x align-center">
<div class="cell medium-3 text-center">
	<img src="{{ site.baseurl }}{{ site.urlimg }}homepage_laboratory.png" style="border-radius:50%">
	<h4>Scientific Analysis</h4>
</div>
<div class="cell medium-3 text-center small-offset-1">
	<img src="{{ site.baseurl }}{{ site.urlimg }}homepage_piano_close_up.jpg" style="border-radius:50%">
	<h4>Interviews</h4>
</div>
<div class="cell medium-3 text-center small-offset-1">
	<img src="{{ site.baseurl }}{{ site.urlimg }}homepage_ivory_beads.png" style="border-radius:50%">
	<h4>Historical Research</h4>
</div>
</div>
<div class="grid-x grid-padding-y align-center">
<div class="cell medium-3">
	<p>We use X-ray fluorescence (XRF) spectrometry to rapidly and non-destructively identify trace elements in ivory carvings. With a small sample, we will also analyze DNA, stable isotope ratios, and specific proteins. Together, these techniques create a unique "fingerprint" for each carving, revealing where an elephant lived, what it ate, and its genetic history.</p>
</div>
<div class="cell medium-3 small-offset-1">
	<p>The ArchIvory staff conducts semi-structured interviews with volunteers who own ivory materials. We are interested in the personal history of these artifacts and their meaning to families and communities.</p>
</div>
<div class="cell medium-3 small-offset-1">
	<p>As historians, we examine primary and secondary sources on ivory, searching libraries and archives for records that shed light on its trade, use, and cultural significance.</p>
</div>
</div>
</div>

