---
layout: default
format: page
---

<div class="cell large-12 text-center">
    <div class="title banner" style="background-image: url('{{ site.baseurl }}{{ site.urlimg }}{{ page.bannerphoto }}'); background-size: cover; background-repeat: no-repeat; display: flex; align-items: center; justify-content: center; height: 30vh;">
		<h1 style="background-color: #ffffff; padding: 25px 20px;">{{page.title}}</h1>
	</div>
</div>

<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">
			<!--page start-->
			{{ content }}
			<!--page end-->
		</div>
	</div>
</div>